@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: myFont;
	font-weight: 350;
}

html {
	scroll-behavior: smooth;
}

body {
	cursor: none;
	overflow-x: hidden;
}

@font-face {
	font-family: myFont;
	src: url(font/WorkSans-VariableFont_wght.ttf);
}

@font-face {
	font-family: italicFont;
	src: url(font/Ephesis-Regular.ttf);
}

a {
	cursor: none;
	text-decoration: none;
}

button {
	cursor: none;
}

.container {
	position: relative;
	height: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

/* <-------Cursor---------> */

#cursor {
	height: 6px;
	background-color: #000000;
}

#chaser {
	height: 40px;
	background-color: #12526546;
}

#cursor,
#chaser {
	top: 0;
	aspect-ratio: 1/1;
	left: 0;
	position: fixed;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	z-index: 110;
	pointer-events: none;
}

/* <-------Links---------> */

.sideBrand {
	z-index: 20;
	height: 174px;
	width: 54px;
	position: fixed;
	transform: translate(0, -87px);
	background-color: #303e42c3;
	right: 0;
	top: 50%;
}

.brandLogo {
	margin-top: 10px;
	font-family: italicFont;
	font-size: 24px;
}

.brandText {
	text-align: center;
	color: #f4fafb;
	font-weight: 500;
}

.brandPara {
	font-size: 19px;
	transform: translate(0, 74px) rotate(-90deg);
}

/* <-----Vertical Line-----> */

.timeline-home {
	position: absolute;
	height: 67%;
	bottom: 0;
	left: 19%;
	margin-left: 13.5px;
	border: 2px #1b92b6 solid;
	transform: translate(-40px, 0px);
}

.bullet-home {
	background-color: transparent !important;
	top: -9px !important;
}

.timeline {
	z-index: 0;
	position: absolute;
	height: 100%;
	margin-left: 13.5px;
	border: 2px #1b92b6 solid;
	top: 0;
	bottom: 0;
	left: 19%;
	transform: translate(-40px, 0px);
}

.bullet {
	background-color: #f4fafb;
	position: absolute;
	border: 3px #1b92b6 solid;
	height: 9px;
	width: 9px;
	border-radius: 100px;
	top: 34px;
	margin-left: -4.25px;
	left: 19%;
}

.home-text {
	position: absolute;
	font-size: 16px;
	font-weight: 500;
	top: 33%;
	margin-top: -14px;
	left: 19%;
}

.about-text {
	margin-top: -2px;
	display: inline-block;
	position: absolute;
	left: 19%;
	top: 30px;
	font-size: 16px;
	font-weight: 500;
}

svg#mouse {
	position: absolute;
	height: 30px;
	top: 240px;
	transform: translate(-15px, 35px);
}

span[name="scroll-button"] {
	font-weight: 500;
	top: 300px;
	color: black;
	font-size: 20px;
	position: absolute;
	transform: translate(-40px, 35px) rotate(-90deg);
}

/* <-----Navbar-----> */

#navbar {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(2px);
	padding: 16px 14px;
	transition: all 1s;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-head {
	font-size: 22px;
	margin-left: 4px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-right: 10px;
}

.nav-links {
	font-size: 18px;
	margin-left: 8px;
}

.nav-links a {
	padding: 8px 4px;
	color: black;
}

.nav-links a:hover {
	color: #80adb9;
}

/* <----Home Section----> */

#home-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/background-1747784_1920.jpg");
}

.home-background {
	height: 100vh;
}

.intro {
	position: absolute;
	top: 33%;
	margin-top: 60px;
	left: 19%;
	margin-left: 40px;
}

.intro-text {
	font-weight: 400;
	font-size: 30px;
}

.my-name {
	font-weight: 500;
	color: #005a68;
}

.word-design {
	font-size: 46px;
	font-family: italicFont;
	font-weight: 500;
	color: #005a68;
}

.intro-para {
	margin-top: 32px;
	font-size: 20px;
	font-weight: 400;
}

/* <----What I DO SECTION----> */

#wid-section {
	height: 100vh;
	max-height: 800px;
	background-color: #ffffff;
}

.wid-content {
	position: relative;
	z-index: 1;
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s;
	display: flex;
	gap: 100px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 30px 0px 30px 0px;
}

.lottie {
	width: 448px;
	aspect-ratio: 1;
	position: relative;
	top: -20px;
	z-index: 10;
}

.wid-content .content {
	max-width: 570px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.wid-subhead {
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	color: #64a7b8;
	margin-bottom: 6px;
}

.skillsCon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 8px;
	margin-top: 36px;
	flex-wrap: wrap;
}

.wid-list-container {
	margin-top: 42px;
}

.wid-list {
	padding-left: 10px;
	margin-bottom: 6px;
	font-size: 15px;
	color: slategray;
	font-weight: 400;
}

.wid-list::before {
	content: "▹";
	position: relative;
	right: 13px;
	color: #00ccff;
}

.skills {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -2px var(--tw-shadow-color);
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background-color: #ffffff;
	border-radius: 50%;
	padding: 14px;
	margin: 0 4px;
	height: 62px;
	width: 62px;
}

/* <----About Section----> */

#about-section {
	background-color: #ffffff;
}

.about-section {
	padding: 80px 0 34px;
}

.myDetailsContainer {
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s;
	padding-right: 20px;
	margin: 0 0 0 19%;
}

.codeLine {
	position: relative;
}

.myDetailsContainer .codeLine:hover:after {
	background-color: #87cfeb6c;
	content: "";
	height: 100%;
	left: -24.8%;
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
}

.codeLine::before {
	transform: translate(-60px, 0);
	font-family: sans-serif;
	font-size: 16px;
	color: gray;
	content: attr(data-line-nr);
	position: absolute;
	margin-top: 4.25px;
}

.colorPink {
	color: rgb(219, 17, 148);
}

.colorPurple {
	color: rgb(84, 19, 216);
}

.colorBlue {
	color: rgb(11, 169, 231);
}

.colorGrey {
	color: grey;
}

.colorGreen {
	color: rgb(42, 170, 42);
}

.colorYellow {
	color: rgb(255, 166, 0);
}

.emptyLine {
	height: 30px;
}

.codeLine h1 {
	font-size: 17px;
	line-height: 21.5px;
	font-weight: 400;
	padding: 4.5px 0;
}

.codeLine h1 span {
	font-weight: 400;
}

span[name="dots"] {
	color: grey;
}

/* <----Contact Section----> */

#contact-section {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact-content-con {
	height: 100vh;
	max-height: 800px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.contact-content-inner-con {
	opacity: 0;
	transform: translateY(100px);
	transition: all 1s;
	position: relative;
	z-index: 30;
	width: 630px;
	text-align: center;
}

.contact-head {
	margin-bottom: 12px;
	color: #64a7b8;
	font-weight: 300;
	font-size: 32px;
}

.contact-para {
	margin-bottom: 32px;
	font-weight: 330;
	font-size: 16px;
	color: rgb(135, 141, 145);
}

.contact-link {
	display: inline-block;
	color: #64a7b8;
}

.contact-link span {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid #64a7b8;
	height: 50px;
	width: 200px;
	transition: all 0.5s;
}

.contact-link span:hover {
	color: #ffffff;
	background-color: #5a5ae3;
}

footer {
	opacity: 0;
	transform: translateY(-15px);
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	margin-bottom: 8px;
	bottom: 0;
	transition: all 0.5s;
}

.Link {
	font-weight: 350;
	color: #3d8a9b;
	aspect-ratio: 1;
	height: 27px;
	margin: 0 16px;
}

.show {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

/* \\\\\\\\\\\ Media Query \\\\\\\\\\\ */

@media (max-width: 1150px) {
	#wid-section {
		height: 100%;
		max-height: 100%;
		background-color: #ffffff;
	}

	.wid-content {
		gap: 0px;
		flex-direction: column-reverse;
		padding: 120px 0px 30px 0px;
	}

	.wid-content .content {
		max-width: 620px;
		padding: 30px;
	}

	.wid-list-container {
		margin-top: 42px;
	}

	.wid-list {
		padding-left: 0;
		text-align: center;
	}

	.wid-list::before {
		content: "";
	}
}

@media (max-width: 906px) {
	.intro-text {
		font-size: 29px;
	}

	.word-design {
		font-size: 36px;
	}
	.intro {
		margin-left: 30px;
	}
}

@media (max-width: 768px) {
	#cursor {
		display: none;
	}

	#chaser {
		display: none;
	}
}

@media (max-width: 740px) {
	.timeline-home {
		left: 0;
		transform: translate(30px, 0px);
	}

	.bullet-home {
		background-color: transparent !important;
		top: -9px !important;
	}

	.timeline {
		left: 0;
		transform: translate(30px, 0px);
	}

	.home-text {
		transform: translate(65px, 0px);
		left: 0;
	}

	.about-text {
		transform: translate(65px, 0px);
		left: 0;
	}

	.intro {
		left: 0;
		margin-left: 90px;
	}

	.intro-text {
		font-size: 26px;
	}

	.word-design {
		font-size: 34px;
	}

	.intro-para {
		font-size: 16px;
	}

	.wid-list-container {
		position: relative;
		padding-left: 30px;
	}

	.wid-list {
		font-size: 13px;
		padding-left: 0;
		text-align: left;
	}

	.wid-list::before {
		content: "";
		right: 0;
	}

	.myDetailsContainer {
		transform: translateY(100px);
		margin: 0 0 0 66px;
	}

	.codeLine::before {
		transform: translate(-52px, 0);
	}

	.myDetailsContainer .codeLine:hover:after {
		left: 0;
		transform: translateX(-66px);
		width: 100vw;
	}

	.contact-para {
		font-size: 14px;
	}
}

@media (max-width: 560px) {
	span[name="dots"] {
		display: none;
	}
}

@media (max-width: 448px) {
	.lottie {
		width: 100%;
	}
}
