* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: myFont;
	font-weight: 350;
}

@font-face {
	font-family: myFont;
	src: url(font/WorkSans-VariableFont_wght.ttf);
}

@font-face {
	font-family: italicFont;
	src: url(font/Ephesis-Regular.ttf);
}

a {
	text-decoration: none;
}

main[name="outer"] {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

main[name="inner"] {
	position: relative;
	max-width: 1600px;
	width: 100%;
}

/* <-----Vertical Line-----> */

.absolute {
	position: absolute;
}

.vertical-line {
	width: 0px;
	height: 1000px;
	border: 1.6px #007292 solid;
	border-radius: 100px;
	top: 220px;
	left: 20%;
	bottom: 0;
}

.home-text {
	margin-left: 20px;
	font-size: 20px;
	font-weight: 400;
	top: 220px;
	left: 20%;
}

/* <-----Navbar-----> */

.navbar {
	position: fixed;
	backdrop-filter: blur(1.2px);
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 14px;
}

.nav-head {
	font-size: 22px;
	margin-left: 4px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-right: 10px;
}

.nav-links {
	font-size: 18px;
	margin-left: 8px;
}

.nav-links a {
	padding: 8px 4px;
	color: black;
}

.nav-links a:hover {
	color: #80adb9;
}

/* <----Main Body----> */

.home-background {
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/background-1747784_1920.jpg");
	display: flex;
	flex-direction: row;
	align-items: center;
}

.intro {
	margin-left: 23%;
}

.intro-text {
	font-weight: 500;
	font-size: 38px;
}

.intro-text span {
	font-size: 50px;
	font-family: italicFont;
	font-weight: 500;
	color: #007292;
}
