@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: myFont;
	font-weight: 350;
}

body {
	cursor: default;
	overflow-x: hidden;
}

@font-face {
	font-family: myFont;
	src: url(font/WorkSans-VariableFont_wght.ttf);
}

@font-face {
	font-family: italicFont;
	src: url(font/Ephesis-Regular.ttf);
}

a {
	text-decoration: none;
}

.container {
	position: relative;
	height: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

/* <-----Vertical Line-----> */

.timeline-home {
	position: absolute;
	height: 65%;
	bottom: 0;
	left: 19%;
	margin-left: 13.5px;
	border: 2px #1b92b6 solid;
	transform: translate(-40px, 0px);
}

.bullet-home {
	background-color: transparent !important;
	top: -9px !important;
}

.timeline {
	position: absolute;
	height: 100%;
	margin-left: 13.5px;
	border: 2px #1b92b6 solid;
	top: 0;
	bottom: 0;
	left: 19%;
	transform: translate(-40px, 0px);
}

.bullet {
	background-color: #f4fafb;
	position: absolute;
	border: 3px #1b92b6 solid;
	height: 9px;
	width: 9px;
	border-radius: 100px;
	top: 34px;
	margin-left: -4.25px;
	left: 19%;
}

.home-text {
	position: absolute;
	font-size: 16px;
	font-weight: 500;
	top: 35%;
	margin-top: -14px;
	left: 19%;
}

.about-text {
	display: inline-block;
	position: absolute;
	left: 19%;
	top: 30px;
	font-size: 16px;
	font-weight: 500;
}

svg#mouse {
	position: absolute;
	height: 30px;
	top: 240px;
	transform: translate(-15px, 35px);
}

span[name="scroll-button"] {
	font-weight: 500;
	top: 300px;
	color: black;
	font-size: 20px;
	position: absolute;
	transform: translate(-40px, 35px) rotate(-90deg);
}

/* <-----Navbar-----> */

#navbar {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(2px);
	padding: 16px 14px;
	transition: all 1s;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav-head {
	font-size: 22px;
	margin-left: 4px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-right: 10px;
}

.nav-links {
	font-size: 18px;
	margin-left: 8px;
}

.nav-links a {
	padding: 8px 4px;
	color: black;
}

.nav-links a:hover {
	color: #80adb9;
}

/* <----Home Section----> */

#home-background {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/background-1747784_1920.jpg");
}

.home-background {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.intro {
	margin-top: 60px;
	margin-left: 19%;
	padding-left: 40px;
}

.intro-text {
	font-weight: 500;
	font-size: 38px;
}

.my-name {
	font-weight: 500;
	color: #005a68;
}

.word-design {
	font-size: 50px;
	font-family: italicFont;
	font-weight: 500;
	color: #005a68;
}

.intro-para {
	margin-top: 32px;
	font-size: 24px;
	font-weight: 400;
}

/* <----About me----> */

#wid-section {
	height: 100vh;
	max-height: 800px;
	background-color: #f4fafb;
}

.wid-content {
	display: grid;
	column-gap: 30px;
	grid-template-columns: 580px 1fr;
	height: 100%;
	width: 100%;
	padding: 30px 0px 30px 0px;
}

.wid-content .content {
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lottie {
	justify-self: end;
	align-self: center;
	position: relative;
	z-index: 10;
}

.wid-subhead {
	text-align: center;
	font-weight: 400;
	font-size: 28px;
	color: #64a7b8;
}

.skillsCon {
	margin-top: 42px;
	justify-content: center;
	flex-direction: row;
	display: flex;
}

.skills {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -2px var(--tw-shadow-color);
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	background-color: #ffffff;
	border-radius: 50%;
	padding: 14px;
	margin: 0 4px;
	height: 62px;
	width: 62px;
}

/* <----About me----> */

#about-section {
	background-color: #ffffff;
}

.about-section {
	padding-top: 80px;
}

.myDetailsContainer {
	padding-right: 20px;
	margin: 0 0 0 19%;
}

.codeLine {
	position: relative;
}

.myDetailsContainer .codeLine:hover:after {
	background-color: rgba(135, 207, 235, 0.423);
	content: "";
	height: 100%;
	left: -24.8%;
	position: absolute;
	top: 0;
	right: 0;
	width: 100vw;
}

.codeLine::before {
	transform: translate(-60px, 0);
	font-family: sans-serif;
	font-size: 16px;
	color: gray;
	content: attr(data-line-nr);
	position: absolute;
	margin-top: 7.25px;
}

.colorPink {
	color: rgb(219, 17, 148);
}

.colorPurple {
	color: rgb(84, 26, 200);
}

.colorBlue {
	color: rgb(11, 169, 231);
}

.colorGrey {
	color: grey;
}

.colorGreen {
	color: rgb(34, 168, 34);
}

.colorYellow {
	color: rgb(255, 166, 0);
}

.emptyLine {
	height: 30px;
}

.codeLine h1 {
	font-size: 18px;
	line-height: 21.5px;
	font-weight: 400;
	padding: 4.25px 0;
}

.codeLine span {
	font-weight: 500;
}

span[name="dots"] {
	color: grey;
}
